html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 42rem;
  padding: 0 1rem;
  margin: 3rem auto;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.clear-button {
  background: #f0f0f0;
}

.operator-button {
  background: #ff8c00;
  color: white;
}

.equal-button {
  background: #ff8c00;
  color: white;
}

.delete-button {
  background: #f0f0f0;
}

.number-button {
  background: #e0e0e0;
}

.screen {
  background: #1c191c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

input {
  background: #1c191c;
  border: none;
  color: white;
  text-align: right;
}

input:focus {
  outline: none;
}